# ignore Python bytecode and caches
__pycache__/
*.pyc

# ignore database
db.sqlite3

# ignore logs
*.log

# ignore environment files
.env

# ignore virtualenvs (match both .venv and walker_venv)
*.venv/
venv/
walker_venv/
